<form method="POST" action='/create_product'>
    Merchant:<input type="text" name="merchant">
    
Product Name:<input type="text" name="p_name">
Product_Code:<input type="text" name="P_code">
Prefix:<input type="text" name="p_prefix">

<input type="submit"   value="Save" >


</form>